.App{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10rem;
}
.main-image{
  width: 50%;
  height: 2%;
  margin-left: 0%;
}
/*TODO: make this div center */
.Login-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
*{
  color: #525252;
}
.check{
  display: flex;
  justify-content: flex-start;
  gap: 6rem;

}

.btn-secondary{
  border-color:#525252;
  background-color: white;
  color: #828282;
}
.btn:hover{
  opacity: 0.8;
}
.btn-primary{
  background-color: #7f265b;
  border:none;
}
.btn-primary:hover{
  background-color: #7f265b;
  opacity: 0.9;
}
.btn-secondary:hover{
  background-color: #828282;
  opacity: 0.8;

}
.form-control{
  padding-right: 10rem;
}
.link-primary, span{
  color: #7f265b;
}
.checkbox{
  background-color: #7f265b;
}
